![Algoritmos e Estrutura de Dados I](AED1_banner.jpg)

## <font color='blue'>Aula 12 - Algoritmos e Estrutura de Dados 1 </font>
## <font color='blue'>Estruturas de Dados (Listas / Tuplas / Dicionários)</font>

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

## <font color='blue'>LISTAS...</font>
---
### Trabalhando com Listas

In [1]:
# Criando uma lista
lista_1 = ["arroz, frango, tomate, leite"]

In [2]:
type(lista_1)

list

In [3]:
# Imprimindo a lista
print(lista_1)

['arroz, frango, tomate, leite']

In [5]:
# Criando outra lista
lista_2 = ["arroz", "frango", "tomate", "leite"]

In [6]:
type(lista_2)

list

In [7]:
# Imprimindo a lista
print(lista_2)

['arroz', 'frango', 'tomate', 'leite']

In [8]:
# Criando lista
lista_3 = [23, 100, "Cientista de Dados"]

In [9]:
type(lista_3)

list

In [10]:
# Imprimindo
print(lista_3)

[23, 100, 'Cientista de Dados']

In [11]:
# Atribuindo cada valor da lista a uma variável.
item1 = lista_3[0]
item2 = lista_3[1]
item3 = lista_3[2]

In [12]:
# Imprimindo as variáveis
print(item1, item2, item3)

23 100 Cientista de Dados

In [13]:
alunos = ['ana', 'pedro', 'maria']
notas = [9, 3.5, 6]

In [14]:
for i in range(len(alunos)):
    print(f"O(a) estudante {alunos[i]} teve nota {notas[i]}!")

O(a) estudante ana teve nota 9!
O(a) estudante pedro teve nota 3.5!
O(a) estudante maria teve nota 6!

#### Atualizando Um Item da Lista

In [15]:
lista_2

['arroz', 'frango', 'tomate', 'leite']

In [16]:
# Imprimindo um item da lista
lista_2[2]

'tomate'

In [18]:
# Atualizando um item da lista
lista_2[2] = "chocolate"

In [19]:
# Imprimindo lista alterada
lista_2

['arroz', 'frango', 'chocolate', 'leite']

#### Deletando Um Item da Lista

In [ ]:
lista_2

In [ ]:
# Não é possível deletar um item que não existe na lista. Vai gerar erro index out of range
del lista_2[4]

In [ ]:
# Deletando um item específico da lista
del lista_2[3]

In [ ]:
# Imprimindo o item com a lista alterada
lista_2

#### Listas de Listas (Listas Aninhadas)

Listas de listas são matrizes em Python.

In [20]:
# Criando uma lista de listas
listas = [ [1,2,3], [10,15,14], [10.1,8.7,2.3] ]

In [21]:
# Imprimindo a lista
print(listas)

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [22]:
# Atribuindo um item da lista a uma variável
a = listas[0]

In [23]:
listas[0][1]

2

In [24]:
a

[1, 2, 3]

In [ ]:
b = a[0]

In [ ]:
b

In [26]:
list1 = listas[1]

In [27]:
list1

[10, 15, 14]

In [28]:
valor_1_0 = list1[0]

In [ ]:
valor_1_0

In [ ]:
valor_1_2 = list1[2]

In [ ]:
valor_1_2

In [ ]:
list2 = listas[2]

In [ ]:
list2

In [ ]:
valor_2_0 = list2[0]

In [ ]:
valor_2_0

#### Operações com Listas

In [29]:
# Criando uma lista aninhada (lista de listas - Matrizes)
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [30]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [ ]:
# Atribuindo à variável a o primeiro valor da primeira lista
a = listas[0][0]

In [ ]:
a

In [ ]:
b = listas[1][2]

In [ ]:
b

In [ ]:
c = listas[0][2] + 10

In [ ]:
c

In [ ]:
d = 10

In [ ]:
d

In [ ]:
e = d * listas[2][0]

In [ ]:
e

#### Concatenando Listas

In [34]:
lista_s1 = [34, 32, 56]

In [35]:
lista_s1

[34, 32, 56]

In [36]:
lista_s2 = [21, 90, 51]

In [37]:
lista_s2

[21, 90, 51]

In [38]:
# Concatenando listas
lista_total = lista_s1 + lista_s2

In [39]:
lista_total

[34, 32, 56, 21, 90, 51]

### Operador in

In [40]:
# Criando uma lista
lista_teste_op = [100, 2, -5, 3.4]

In [41]:
# Verificando se o valor 10 pertence a lista
print(10 in lista_teste_op)

False

In [42]:
# Verificando se o valor 100 pertence a lista
print(100 in lista_teste_op)

True

### Funções Built-in

In [ ]:
lista_s1.

![Listas](listas.jpg)

In [43]:
# Criando uma lista
lista_numeros = [10, 20, 50, -3.4]

In [44]:
# Função len() retorna o comprimento da lista
len(lista_numeros)

4

In [45]:
# Função max() retorna o valor máximo da lista
max(lista_numeros)

50

In [46]:
# Função min() retorna o valor mínimo da lista
min(lista_numeros)

-3.4

In [47]:
# Criando uma lista
lista_formacoes_dsa = ["Analista de Dados", "Cientista de Dados", "Engenheiro de Dados"]

In [48]:
lista_formacoes_dsa

['Analista de Dados', 'Cientista de Dados', 'Engenheiro de Dados']

In [49]:
# Adicionando um item à lista
lista_formacoes_dsa.append("Engenheiro de IA")

In [50]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA']

In [ ]:
lista_formacoes_dsa.append("Engenheiro de IA")

In [ ]:
lista_formacoes_dsa

In [ ]:
lista_formacoes_dsa.count("Engenheiro de IA")

In [ ]:
# Criando uma lista vazia
a = []

In [ ]:
print(a)

In [ ]:
type(a)

In [ ]:
a.append(10)

In [ ]:
a

In [ ]:
a.append(50)

In [ ]:
a

In [ ]:
old_list = [1,2,5,10]

In [ ]:
new_list = []

In [ ]:
# Copiando os itens de uma lista para outra
for item in old_list:
    new_list.append(item)

In [ ]:
lista = []
while True:
    n = int(input("Digite um valor (-1 para sair): "))
    if n == -1:
        break
    lista.append(n)

print(lista)

In [ ]:
new_list

In [ ]:
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'Palmas'])
print (cidades)

In [ ]:
cidades.index('Salvador')

Lembre-se: em Python o índice começa por 0!

In [ ]:
cidades.index('Rio de Janeiro')

In [ ]:
cidades

In [ ]:
cidades.insert(2, 110)

In [ ]:
cidades

In [ ]:
# Remove um item da lista
cidades.remove(110)

In [ ]:
cidades

In [ ]:
# Reverte a lista
cidades.reverse()

In [ ]:
# Imprime a lista
cidades

In [ ]:
x = [3, 4, 2, 1]

In [ ]:
x

In [ ]:
# Ordena a lista
x.sort()

In [ ]:
x

## <font color='blue'>TUPLAS...</font>
---
### Trabalhando com Tuplas

In [52]:
# Imprimindo a tupla
tupla1

NameError: name 'tupla1' is not defined

In [53]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [54]:
# Tuplas não suportam append()
tupla1.append("Chocolate")

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# Tuplas não suportam delete de um item específico
del tupla1["Elefantes"]

In [55]:
# Tuplas podem ter um único item
tupla1 = ("Chocolate")

In [56]:
tupla1

'Chocolate'

In [57]:
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [58]:
tupla1[0]

'Geografia'

In [59]:
# Verificando o comprimento da tupla
len(tupla1)

5

In [60]:
# Slicing, da mesma forma que se faz com listas
tupla1[1:]

(23, 'Elefantes', 9.8, 'Python')

In [61]:
tupla1.index('Elefantes')

2

In [62]:
# Tuplas não suportam atribuição de item
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Deletando a tupla
del tupla1

In [ ]:
tupla1

In [ ]:
# Criando uma tupla
t2 = ('A', 'B', 'C')

In [ ]:
t2

In [ ]:
# Tuplas não suportam atribuição de item
t2[0] = 'D'

In [ ]:
# Usando a função list() para converter uma tupla para lista
lista_t2 = list(t2)

In [ ]:
type(t2)

In [ ]:
type(lista_t2)

In [ ]:
lista_t2

In [ ]:
lista_t2.append('D')

In [ ]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [ ]:
t2

### Funções Built-in

![Tuplas](tuplas.jpg)

## <font color='blue'>DICIONÁRIOS...</font>
---
### Trabalhando com Dicionários

![Dicionários](dicionarios.jpg)

In [ ]:
# Isso é uma lista
estudantes_lst = ["Pedro", 24, "Ana", 22, "Ronaldo", 26, "Janaina", 25]

In [ ]:
estudantes_lst

In [ ]:
type(estudantes_lst)

In [63]:
# Isso é um dicionário
estudantes_dict = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [64]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [65]:
type(estudantes_dict)

dict

In [66]:
estudantes_dict["Pedro"]

24

In [ ]:
estudantes_dict["Marcelo"] = 23

In [ ]:
estudantes_dict["Marcelo"]

In [ ]:
estudantes_dict

In [ ]:
estudantes_dict.clear()

In [ ]:
estudantes_dict

In [ ]:
del estudantes_dict

In [ ]:
estudantes_dict

In [ ]:
estudantes = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [ ]:
estudantes

In [ ]:
len(estudantes)

In [ ]:
estudantes.keys()

In [ ]:
estudantes.values()

In [ ]:
estudantes.items()

In [ ]:
estudantes2 = {"Camila":27, "Adriana":28, "Roberta":26}

In [ ]:
estudantes2

In [ ]:
estudantes.update(estudantes2)

In [ ]:
estudantes

In [67]:
dic1 = {}

In [68]:
dic1

{}

In [ ]:
dic1["chave_um"] = 2

In [ ]:
print(dic1)

In [69]:
dic1[10] = 5

In [70]:
dic1

{10: 5}

In [ ]:
dic1[9.13] = "Python"

In [ ]:
dic1

In [ ]:
dic1["teste"] = 5

In [ ]:
dic1

In [ ]:
dict1 = {}

In [ ]:
dict1

In [ ]:
dict1["teste"] = 10

In [ ]:
dict1["key"] = "teste"

In [ ]:
# Atenção, pois chave e valor podem ser iguais, mas representam coisas diferentes.
dict1

In [ ]:
dict2 = {}

In [ ]:
dict2["key1"] = "Data Science"

In [ ]:
dict2["key2"] = 10

In [ ]:
dict2["key3"] = 100

In [ ]:
dict2

In [ ]:
a = dict2["key1"]

In [ ]:
b = dict2["key2"]

In [ ]:
c = dict2["key3"]

In [ ]:
a, b, c

In [ ]:
# Dicionário de listas
dict3 = {'chave1':1230, 'chave2':[22,453,73.4], 'chave3':['picanha', 'fraldinha', 'alcatra']}

In [ ]:
dict3

In [ ]:
dict3['chave2']

In [ ]:
# Acessando um item da lista, dentro do dicionário
dict3['chave3'][0].upper()

In [ ]:
# Operações com itens da lista, dentro do dicionário
var1 = dict3['chave2'][0] - 2

In [ ]:
var1

In [ ]:
# Duas operações no mesmo comando, para atualizar um item dentro da lista
dict3['chave2'][0] -= 2

In [ ]:
dict3

#### Criando Dicionários Aninhados

In [71]:
# Criando dicionários aninhados
dict_aninhado = {'key1':{'key2_aninhada':{'key3_aninhada':'Dict aninhado em Python'}}}

In [72]:
dict_aninhado

{'key1': {'key2_aninhada': {'key3_aninhada': 'Dict aninhado em Python'}}}

In [ ]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

### Funções Built-in

![Dicionários](dict.jpg)

## <font color='blue'>EXERCÍCIOS...</font>
---
### Exercícios sobre Listas

1. Faça um algoritmo que carregue um vetor de 10 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o mesmo vetor, na ordem inversa de entrada.

In [73]:

vetor = []
for i in range(10):
    numero = int(input(f"Digite o {i + 1}º número inteiro: "))
    vetor.append(numero)

print("Vetor na ordem inversa:")
for numero in reversed(vetor):
    print(numero)

Digite o 1º número inteiro:  2
Digite o 2º número inteiro:  3
Digite o 3º número inteiro:  5
Digite o 4º número inteiro:  36
Digite o 5º número inteiro:  32
Digite o 6º número inteiro:  4
Digite o 7º número inteiro:  2
Digite o 8º número inteiro:  1
Digite o 9º número inteiro:  6
Digite o 10º número inteiro:  4

Vetor na ordem inversa:
4
6
1
2
4
32
36
5
3
2

2. Faça um algorimto que carregue um vetor de 5 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o maior valor e sua posição.

In [74]:

vetor = []

for i in range(5):
    numero = int(input(f"Digite o {i + 1}º número inteiro: "))
    vetor.append(numero)

maior_valor = vetor[0]
posicao_maior = 0

for i in range(1, len(vetor)):
    if vetor[i] > maior_valor:
        maior_valor = vetor[i]
        posicao_maior = i
print(f"O maior valor é {maior_valor} e sua posição é {posicao_maior}.")

Digite o 1º número inteiro:  4
Digite o 2º número inteiro:  6
Digite o 3º número inteiro:  2
Digite o 4º número inteiro:  8
Digite o 5º número inteiro:  4123

O maior valor é 4123 e sua posição é 4.

3. Faça algoritmo que carregue dois vetores (listas) de cinco elementos numéricos cada um e mostre um vetor resultante na intercalação desses dois vetores

In [75]:

vetor1 = []
vetor2 = []

for i in range(5):
    numero = int(input(f"Digite o {i + 1}º número do primeiro vetor: "))
    vetor1.append(numero)

for i in range(5):
    numero = int(input(f"Digite o {i + 1}º número do segundo vetor: "))
    vetor2.append(numero)

vetor_resultante = []

for i in range(5):
    vetor_resultante.append(vetor1[i])
    vetor_resultante.append(vetor2[i])

print("Vetor resultante da intercalação:")
print(vetor_resultante)

Digite o 1º número do primeiro vetor:  1
Digite o 2º número do primeiro vetor:  2
Digite o 3º número do primeiro vetor:  3
Digite o 4º número do primeiro vetor:  4
Digite o 5º número do primeiro vetor:  5
Digite o 1º número do segundo vetor:  6
Digite o 2º número do segundo vetor:  7
Digite o 3º número do segundo vetor:  8
Digite o 4º número do segundo vetor:  9
Digite o 5º número do segundo vetor:  0

Vetor resultante da intercalação:
[1, 6, 2, 7, 3, 8, 4, 9, 5, 0]

In [ ]:
# Exemplo de geração de números aleatórios (randômicos) entre 1 e 60
from random import randint
a = randint(1, 60)
print(a)

In [ ]:
# Exemplo de geração de 10 jogadas de dados
from random import randint
# Gerando 10 jogadas
for i in range (0,10):
    lado = randint(1, 6)
    print(lado, end=" ")

4. Faça um Algoritmo que simule 6000 jogadas de um dado de 6 faces. Para simular o resultado utilize a função randint  Ao final, mostre a frequência de sorteio de cada uma das faces

In [79]:
import random

frequencias = [0] * 6

for _ in range(6000):
    resultado = random.randint(1, 6)
    frequencias[resultado - 1] += 1

for i in range(6):
    print(f"Face {i + 1}: {frequencias[i]} vezes")

Face 1: 977 vezes
Face 2: 1050 vezes
Face 3: 954 vezes
Face 4: 971 vezes
Face 5: 1019 vezes
Face 6: 1029 vezes

5. Faça um algoritmo que simule a jogada de dois dados de 6 faces. O programa deve usar randint para rolar o primeiro dado e deve usar randint novamente para rolar o segundo dado. A soma das duas faces deve ser calculada. Assim: a soma variará de 2 a 12. O programa deve rolar 30.000 vezes e mostrar a frequência com que a soma (de 2 a 12) aparecem.  Verifique se o valor 7 corresponde a 1/6 das jogadas!

In [80]:
import random

frequencias = [0] * 13 

for _ in range(30000):
    dado1 = random.randint(1, 6)
    dado2 = random.randint(1, 6)
    soma = dado1 + dado2
    frequencias[soma] += 1

for soma in range(2, 13):
    print(f"Soma {soma}: {frequencias[soma]} vezes")

frequencia_7 = frequencias[7]
print(f"\nFrequência da soma 7: {frequencia_7} vezes")
proporcao_7 = frequencia_7 / 30000
print(f"Proporção da soma 7: {proporcao_7:.2f} (deve ser aproximadamente 0.17)")

Soma 2: 866 vezes
Soma 3: 1669 vezes
Soma 4: 2474 vezes
Soma 5: 3324 vezes
Soma 6: 4166 vezes
Soma 7: 5100 vezes
Soma 8: 4116 vezes
Soma 9: 3297 vezes
Soma 10: 2492 vezes
Soma 11: 1649 vezes
Soma 12: 847 vezes

Frequência da soma 7: 5100 vezes
Proporção da soma 7: 0.17 (deve ser aproximadamente 0.17)

6. Faça um algoritmo que leia uma matriz 2x2 e imprima os seus elementos na ordem:

1,1 =

1,2 =

2,1 =

2,2 =

Obs: linha, coluna

In [81]:
matriz = [[0, 0], [0, 0]]

for i in range(2):
    for j in range(2):
        matriz[i][j] = int(input(f"Digite o elemento {i + 1},{j + 1}: "))

print("Elementos da matriz:")
print(f"1,1 = {matriz[0][0]}")
print(f"1,2 = {matriz[0][1]}")
print(f"2,1 = {matriz[1][0]}")
print(f"2,2 = {matriz[1][1]}")

Digite o elemento 1,1:  3
Digite o elemento 1,2:  5
Digite o elemento 2,1:  7
Digite o elemento 2,2:  3

Elementos da matriz:
1,1 = 3
1,2 = 5
2,1 = 7
2,2 = 3

7. Faça um algoritmo que leia os dados de uma matriz de 4 linhas e 4 colunas, composta de elementos reais, e calcule a soma dos elementos da diagonal principal da matriz.

In [82]:
matriz = [[0] * 4 for _ in range(4)]
soma_diagonal = 0

for i in range(4):
    for j in range(4):
        matriz[i][j] = float(input(f"Digite o elemento [{i + 1},{j + 1}]: "))

for i in range(4):
    soma_diagonal += matriz[i][i]

print(f"Soma dos elementos da diagonal principal: {soma_diagonal}")

Digite o elemento [1,1]:  4
Digite o elemento [1,2]:  2
Digite o elemento [1,3]:  6
Digite o elemento [1,4]:  7
Digite o elemento [2,1]:  3
Digite o elemento [2,2]:  4
Digite o elemento [2,3]:

ValueError: could not convert string to float: ''

8. Faça um algoritmo que receba uma matriz de 5x5 com números reais. Ao final o algoritmo deve calcular e mostrar a média dos elementos que estão nas linhas pares da matriz.

In [83]:
matriz = [[0] * 5 for _ in range(5)]
soma = 0
contador = 0

for i in range(5):
    for j in range(5):
        matriz[i][j] = float(input(f"Digite o elemento [{i + 1},{j + 1}]: "))

for i in range(5):
    if i % 2 == 0:
        for j in range(5):
            soma += matriz[i][j]
            contador += 1

media = soma / contador if contador > 0 else 0
print(f"Média dos elementos das linhas pares: {media}")

Digite o elemento [1,1]:  5
Digite o elemento [1,2]:  7
Digite o elemento [1,3]:  24
Digite o elemento [1,4]:  8
Digite o elemento [1,5]:  54
Digite o elemento [2,1]:  1
Digite o elemento [2,2]:  5432
Digite o elemento [2,3]:  432
Digite o elemento [2,4]:  6324
Digite o elemento [2,5]:

ValueError: could not convert string to float: ''

### Exercícios sobre Tuplas

9. Faça um algoritmo que armazenará os 10 primeiros números primos acima de 100 em uma trupla. Ao final, o algoritmo deve mostrar os valores dessa estrutura de dados.

In [84]:
primos = []
num = 101

while len(primos) < 10:
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            break
    else:
        primos.append(num)
    num += 1

tupla_primos = tuple(primos)
print("Os 10 primeiros números primos acima de 100 são:", tupla_primos)

Os 10 primeiros números primos acima de 100 são: (101, 103, 107, 109, 113, 127, 131, 137, 139, 149)

### Exercícios sobre Dicionários

10. Faça um algoritmo que carregue um dicionário de 10 elementos onde a chave é o sobrenome da pessoa e o valor a sua idade.
Após a finalização da entrada, o algoritmo deve escrever o sobrenome da pessoa com maior idade.

In [ ]:
dicionario = {}

for _ in range(10):
    sobrenome = input("Digite o sobrenome da pessoa: ")
    idade = int(input("Digite a idade da pessoa: "))
    dicionario[sobrenome] = idade

sobrenome_maior_idade = max(dicionario, key=dicionario.get)
idade_maior_idade = dicionario[sobrenome_maior_idade]

print(f"O sobrenome da pessoa com maior idade é: {sobrenome_maior_idade} (Idade: {idade_maior_idade})")

11. Faça um algoritmo que carregue um dicionário contendo nome e idade (pelo menos 5 pares). Depois de carregar, mostre todos os nomes que tenham idade maior que a média das idades.

In [ ]:
dicionario = {}

for _ in range(5):
    nome = input("Digite o nome: ")
    idade = int(input("Digite a idade: "))
    dicionario[nome] = idade

media_idade = sum(dicionario.values()) / len(dicionario)

print("Nomes com idade maior que a média:")
for nome, idade in dicionario.items():
    if idade > media_idade:
        print(nome)

12. Faça algoritmo que carregue duas listas de cinco elementos numéricos inteiros cada um. A partir dessas duas listas, crie um conjunto da união entre essas duas listas.

In [ ]:
lista1 = []
lista2 = []

for i in range(5):
    numero = int(input(f"Digite o {i + 1}º número da primeira lista: "))
    lista1.append(numero)

for i in range(5):
    numero = int(input(f"Digite o {i + 1}º número da segunda lista: "))
    lista2.append(numero)

conjunto_uniao = set(lista1) | set(lista2)

print("Conjunto da união entre as duas listas:", conjunto_uniao)

## Fim da Aula 12