![Algoritmos e Estrutura de Dados I](AED1_banner.jpg)

## <font color='blue'>Algorítmos e Estrutura de Dados I</font>
### <font color='blue'>Aula 06 - Estrutura Sequencial</font>

In [2]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.12.4

#### Pressione as teclas shift e enter para executar o código em uma célula ou pressione o botão Run no menu superior.

## <font color='blue'>Recapitulando</font>

### Operações Aritméticas

In [3]:
# Soma
4 + 4

8

In [4]:
# Subtração
4 - 3

1

In [5]:
# Multiplicação
3 * 3

9

In [6]:
# Divisão
3 / 2

1.5

In [7]:
# Potência
4 ** 2

16

In [8]:
# Módulo
10 % 3

1

### Função Type

In [9]:
type(5)

int

In [10]:
type(5.0)

float

In [11]:
a = 'Estou estudando na Fatec Votorantim'
type(a)

str

### Operações com Números Float

In [12]:
3.1 + 6.4

9.5

In [13]:
4 + 4.0

8.0

In [14]:
4 + 4

8

In [15]:
# Resultado é um número float
4 / 2

2.0

In [16]:
# Resultado é um número inteiro
4 // 2

2

In [17]:
4 / 3.0

1.3333333333333333

In [18]:
4 // 3.0

1.0

### Conversão

In [19]:
float(9)

9.0

In [20]:
int(6.0)

6

In [21]:
int(6.5)

6

In [22]:
int(6.6)

6

In [23]:
round(6.5)

6

In [24]:
round(6.6)

7

### Hexadecimal e Binário

In [25]:
hex(394)

'0x18a'

In [26]:
hex(217)

'0xd9'

In [27]:
bin(286)

'0b100011110'

In [28]:
bin(390)

'0b110000110'

### Funções abs, round e pow

In [29]:
# Retorna o valor absoluto
abs(-8)

8

In [30]:
# Retorna o valor absoluto
abs(8)

8

In [31]:
# Retorna o valor com duas casas decimais
round(3.14151922, 2)

3.14

In [32]:
# Potência
pow(4,2)

16

In [33]:
# Potência
pow(5,3)

125

### Trabalhando com Variáveis

In [35]:
# Atribuindo o valor 1 à variável var_teste
var_teste = 1

In [36]:
# Imprimindo o valor da variável
var_teste

1

In [37]:
# Imprimindo o valor da variável
print(var_teste)

1

In [38]:
# Não podemos utilizar uma variável que não foi definida. Leia a mensagem de erro.
my_var

NameError: name 'my_var' is not defined

In [39]:
var_teste = 2

In [40]:
var_teste

2

In [41]:
type(var_teste)

int

In [42]:
var_teste = 9.5

In [43]:
type(var_teste)

float

In [46]:
x = 1

In [45]:
x

1

### Declaração Múltipla

In [47]:
pessoa1, pessoa2, pessoa3 = "Bob", "Maria", "Ana"

In [48]:
pessoa1

'Bob'

In [49]:
pessoa2

'Maria'

In [50]:
pessoa3

'Ana'

In [51]:
fruta1 = fruta2 = fruta3 = "Melancia"

In [52]:
fruta1

'Melancia'

In [53]:
fruta2

'Melancia'

In [54]:
fruta3

'Melancia'

In [55]:
# Fique atento!!! Python é case-sensitive. Criamos a variável fruta2, mas não a variável Fruta2.
# Letras maiúsculas e minúsculas tem diferença no nome da variável.
Fruta2

NameError: name 'Fruta2' is not defined

> Pode-se usar letras, números e underline em nome de variável (mas não se pode começar com números).

In [56]:
x1 = 50

In [57]:
x1

50

In [58]:
# Mensagem de erro, pois a linguagem Python não permite nomes de variáveis que iniciem com números
1x = 50

SyntaxError: invalid decimal literal (319158066.py, line 2)

> Não se pode usar palavras reservadas como nome de variável

- False      
- class      
- finally    
- is         
- return
- None       
- continue   
- for        
- lambda     
- try
- True       
- def        
- from       
- nonlocal   
- while
- and        
- del        
- global     
- not        
- with
- as         
- elif       
- if         
- or         
- yield
- assert     
- else       
- import     
- pass
- break      
- except     
- in         
- raise

In [59]:
# Não podemos usar palavras reservadas como nome de variável
break = 1

SyntaxError: invalid syntax (103517557.py, line 2)

### Variáveis Atribuídas a Outras Variáveis e Ordem dos Operadores

In [60]:
largura = 2

In [61]:
altura = 4

In [62]:
area = largura * altura

In [63]:
area

8

In [64]:
perimetro = 2 * largura + 2 * altura

In [65]:
perimetro

12

In [66]:
# A ordem dos operadores é a mesma seguida na Matemática
perimetro = 2 * (largura + 2)  * altura

In [67]:
perimetro

32

### Operações com Variáveis

In [68]:
idade1 = 25

In [69]:
idade2 = 35

In [70]:
idade1 + idade2

60

In [71]:
idade2 - idade1

10

In [72]:
idade2 * idade1

875

In [73]:
idade2 / idade1

1.4

In [74]:
idade2 % idade1

10

### Concatenação de Variáveis

In [75]:
nome = "Bob"

In [76]:
sobrenome = "Marley"

In [77]:
fullName = nome + " " + sobrenome

In [78]:
fullName

'Bob Marley'

### Criando uma String

Para criar uma string em Python você pode usar aspas simples ou duplas. Por exemplo:

In [79]:
# Uma única palavra
'Oi'

'Oi'

In [80]:
# Uma frase
'Criando uma string em Python'

'Criando uma string em Python'

In [81]:
# Podemos usar aspas duplas
"Podemos usar aspas duplas ou simples para strings em Python"

'Podemos usar aspas duplas ou simples para strings em Python'

In [82]:
# Você pode combinar aspas duplas e simples
"Testando strings em 'Python'"

"Testando strings em 'Python'"

### Imprimindo uma String

In [83]:
print ('Testando Strings em Python')

Testando Strings em Python

In [84]:
print ('Testando \n Strings \n em \n Python')

Testando
 Strings
 em
 Python

In [85]:
print ('\n')

### Indexando Strings

In [86]:
# Atribuindo uma string
s = 'Projet pyPRO'

In [87]:
print(s)

Projet pyPRO

> Indexação em Python começar por zero.

In [94]:
# Primeiro elemento da string
s[0]

'P'

In [89]:
s[1]

'r'

In [90]:
s[2]

'o'

In [91]:
s[3]

'j'

In [92]:
s[4]

'e'

Podemos usar um : para executar um slicing que faz a leitura de tudo até um ponto designado. Por exemplo:

In [99]:
# Retorna todos os elementos da string, começando pela posição 
# (lembre-se que Python começa a indexação pela posição 0),
# até o fim da string.
s[1:]

'rojet pyPRO'

In [96]:
# A string original permanece inalterada
s

'Projet pyPRO'

In [97]:
# Retorna tudo até a posição de índice 3
s[:3]

'Pro'

In [100]:
# Retorna tudo até a posição de índice 4
s[:4]

'Proj'

In [103]:
# Nós também podemos usar a indexação negativa e ler de trás para frente
s[-1]

'O'

In [104]:
# Retornar tudo, exceto a última letra
s[:-1]

'Projet pyPR'

Nós também podemos usar a notação de índice e fatiar a string em pedaços específicos (o padrão é 1). 

Por exemplo, podemos usar dois pontos duas vezes em uma linha e, em seguida, um número que especifica a frequência para retornar elementos.

In [106]:
s[::1]

'Projet pyPRO'

In [107]:
s[::2]

'Poe yR'

In [105]:
s[::-1]

'ORPyp tejorP'

### Propriedades de Strings

In [ ]:
s

In [108]:
# Alterando um caracter (não é possível alterar um elemento da string)
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [109]:
# Concatenando strings
s + ' é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!'

'Projet pyPRO é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!'

In [110]:
s = s + ' é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!'

In [111]:
print(s)

Projet pyPRO é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!

In [112]:
# Podemos usar o símbolo de multiplicação para criar repetição!
letra = 'w'

In [113]:
letra * 3

'www'

In [117]:
nome = input("Digite seu nome: ")
idade = input("Digite sua idade: ")
print(nome, " tem ", idade, " anos!")

Digite seu nome:  Mateus
Digite sua idade:  19

Mateus  tem  19  anos!

In [122]:
x = int(input("Digite o valor de x: "))
y = int(input("Digite o valor de y: "))
print("Resultado da Soma: ", x+y)

Digite o valor de x:  3
Digite o valor de y:  2

Resultado da Soma:  5

## <font color='blue'>Estrutura Sequencial</font>

## Pseudocódigo 1 - Calcular a Área de Um Paralelograma

Nota: Um paralelogramo é um quadrilátero com lados opostos paralelos (e portanto ângulos opostos iguais). Um quadrilátero com lados iguais é chamado de losango e um paralelogramo cujos ângulos são todos ângulos retos é chamado de retângulo.

Inicie
    
    Exiba "Bem-vindo ao Calculador de Área de Paralelogramo"
    Peça para o usuário inserir o comprimento da base
    Armazene o comprimento da base em uma variável
    Peça para o usuário inserir a altura
    Armazene a altura em uma variável
    Calcule a área do paralelogramo:  base * altura
    Armazene o resultado em uma variável
    Exiba o resultado
    
Fim

## Convertendo o Pseudocódigo 1 em Programa Python

In [ ]:
print("Bem-vindo ao Calculador de Área de Paralelogramo")

In [ ]:
base = float(input("Insira o comprimento da base: "))

In [ ]:
altura = float(input("Insira a altura: "))

In [ ]:
area = base * altura

In [ ]:
print("A área do paralelogramo é: ", area)

### EXEMPLO 01
Calcular a área de um quadrilátero, com dois lados iguais. Para isso faz a leitura de dois números inteiros, representando os lados e imprime os valores lidos e a área calculada.

base, altura, area representam os nomes das variáveis – podem ser do tipo inteiro ou do tipo real.

In [ ]:
base = float(input('Entre com a base:'))
altura = float(input('Entre com a altura:'))
area = base * altura
print('A área é = ', area)

## EXEMPLO 02
Ler a temperatura em °C e apresentar em °F. 

Dados : F=(9*C+160)/5.

In [ ]:
celsius = float(input("Entre com a temperatura em C:"))
fare = (9 * celsius + 160) / 5
print("A temperatura em F = ", fare)

In [ ]:
## EXEMPLO 03
CALCULAR A DISTÂNCIA ENTRE 2 PONTOS.

![Figura](exemplo03.JPG)

In [ ]:
from math import pow, sqrt

x1 = float(input("Entre com x1: "))
y1 = float(input("Entre com y1: "))
x2 = float(input("Entre com x2: "))
y2 = float(input("Entre com y2: "))
dx = x2 - x1
dy = y2 - y1
d = sqrt(pow(dx,2)+pow(dy,2))
print("Distância = ", d)

## <font color='blue'>Exercícios</font>

1. Faça um programa para ler e escrever na tela o seu nome e a sua idade.

In [125]:
nome = input("Digite seu nome: ")
idade = input("Digite sua idade: ")

print("O nome é:", nome , " A idade é:",  idade)

Digite seu nome:  Mateus
Digite sua idade:  19

O nome é: Mateus  A idade é: 19

2. Faça um programa para ler e escrever na tela o seu nome e a sua idade.

3. Faça um algoritmo que receba o ano de nascimento de uma pessoa e o ano atual e mostre:
A idade dessa pessoa em anos;
A idade dessa pessoa em meses;
A idade dessa pessoa em dias;
A idade dessa pessoa em semanas.

In [137]:
ano_nasc = int(input("Digite seu ano de nascimento:"))
ano_atual = int(input("Digite o ano atual:"))

anos = ano_atual - ano_nasc
meses = anos * 12
dias = 365 * 12 * anos
semanas = anos * 52

print(f" Essa pessoa tem {anos} anos, {meses} meses, {dias} dias e {semanas} semanas")

Digite seu ano de nascimento: 2005
Digite o ano atual: 2024

 Essa pessoa tem 19 anos, 228 meses, 83220 dias e 988 semanas

4. Faça um algoritmo que receba o salário de um funcionário, calcule e mostre o novo salário, sabendo-se que este sofreu um aumento de 25%.

In [147]:
salario = float(input("Digite seu salário:"))
aumento = 25                
nsalario = salario * (1 + aumento / 100)

print(f" Seu novo salário é {nsalario:7.2f}")

Digite seu salário: 1234.12

 Seu novo salário é 1542.65

5. Faça um algoritmo que calcule e mostre a área de um círculo. Sabe-se que 
	Area= π * R2

	π = 3,115

In [158]:
from math import pi, pow

raio = float(input("Digite o Raio:"))

area = pi * pow(raio,2)

print(f" A área é {area}")

Digite o Raio: 23

 A área é 1661.90251

6. Cada degrau de uma escada tem Xcm de altura. Faça um algoritmo que receba a altura de cada degrau em cm e a altura que o usuário deseja alcançar subindo a escada (em metros). Faça as conversões, calcule e mostre quantos degraus o usuário deverá subir para atingir seu objetivo.

Obs: não se preocupe com a altura do usuário!

In [163]:
from math import ceil 

degrau = float(input("Digite a altura do degrau: (cm) "))
pe_direito = float(input("Digite a altura do pé direito: (m) ")) 
pe_direito = pe_direito * 100
qtd_degraus = ceil(pe_direito / degrau)

print(f" O usuário deverá subir {qtd_degraus}")

Digite a altura do degrau: (cm)  15
Digite a altura do pé direito: (m)  10

 O usuário deverá subir 67

## Fim da Aula 6